p {
  text-align: justify;
}
* {
  font-family: "Syne Mono", monospace;
}
body {
  margin: 0;
  background-color: #eee501;
}
#conteiner {
  width: 70%;

  text-align: center;
  border: solid 3px black;
  padding: 0 30px 30px 30px;
}
.a1 {
  border: 4px solid black;
  width: 100%;
}
.barra {
  width: 100%;
  height: 30px;
  border: solid 3px black;
  background-color: #146391;

  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.ota {
  width: 100px;
  height: 24px;
  border: solid 3px black;
  border-radius: 50px;
  background-color: #ff8563;
}
.cyber {
  width: 50%;
  margin: 0 auto;
}
.medo {
  width: 150px;
 
  margin-top: 90px;
  height: 150px;
}
.tata {
  justify-content: space-between;
  display: flex;
}
.a2 {
  width: 100%;
}
.ost {
  border: 3px solid black;
  width: 100%;
  height: 100vh;
  background-image: url("../img/image_processing.gif");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.aha {
  width: 80%;
  height: 150px;
  border: solid 1px black;
  margin-top: 20px;
}
.alto {
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.ota:hover {
  background-color: #eee501;
}
.imag {
  width: 10%;
  height: 1000px;
  margin-top: 500px;
 
}
.wich {
  display: flex;
  justify-content: space-around;
}
.morrow {
  height: 1000px;
  margin-top: 500px;
  width: 10%;
 
}
.wind {
  width: 100%;
  height: 100%;
  border: solid black 4px;
}
.dara {
  width: 100%;
  height: 100%;
  border: 4px solid black;
}

@media screen and (min-width: 1800px) {
  #conteiner {
    font-size: 40px;
  }
  .ota {
    height: 100%;
    width: 10%;
  }
  .barra {
    height: 57px;
  
  }
  .dara {
    height: 400%;
  }
  .wind {
    height: 400%;

  }
  .cor{
  width: 5%;
  height: 70px;
position: fixed;
right: 0;
margin-right: 10%;
 }

.lua {
  margin-right: 30px;
  margin-top: 3px;
  margin-left: 10px;
}

.sol {
  margin-left: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 70px;
}
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22272E;
  -webkit-transition: 1s;
  transition: 1s;
}
  .slider::before {
    position: absolute;
    content: "";
    height: 70px;
    width: 70px;
    left: 4px;
    bottom: 4px;
    background-color: #EEE501;
    -webkit-transition: 1s;
    transition: 1s;
  }

input:checked + .slider {
  background-color: #3a3a3a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

}
@media screen and (min-width: 900px)and (max-width: 1800px) {
  #conteiner {
    font-size: 30px;
  }
  .ota {
    width: 50%;
    height: 100%;
  }
  .imag {
    display: none;
  }
  .morrow {
    display: none;
  }
  .wich {
    justify-content: center;
  }
  .ost {
    display: none;
  }
  .conteiner{
    font-size: 30px;
  }
  .barra{
    width: 110%;
  }
}
.cor{
  width: 5%;
  height: 70px;
position: fixed;
right: 0;
margin-right: 10%;
 }

.lua {
  margin-right: 30px;
  margin-top: 3px;
  margin-left: 10px;
}

.sol {
  margin-left: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 70px;
}
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22272E;
  -webkit-transition: 1s;
  transition: 1s;
}
  .slider::before {
    position: absolute;
    content: "";
    height: 70px;
    width: 70px;
    left: 4px;
    bottom: 4px;
    background-color: #EEE501;
    -webkit-transition: 1s;
    transition: 1s;
  }

input:checked + .slider {
  background-color: #3a3a3a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}


 @media screen and (max-width: 1800px) {
 .ost{display: none;}
 .cor{
  width: 5%;
  height: 70px;
position: fixed;
right: 0;
margin-right: 17%;
 }

.lua {
  margin-right: 30px;
  margin-top: 3px;
  margin-left: 10px;
}

.sol {
  margin-left: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 70px;
}
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22272E;
  -webkit-transition: 1s;
  transition: 1s;
}
  .slider::before {
    position: absolute;
    content: "";
    height: 70px;
    width: 70px;
    left: 4px;
    bottom: 4px;
    background-color: #EEE501;
    -webkit-transition: 1s;
    transition: 1s;
  }

input:checked + .slider {
  background-color: #3a3a3a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

} 
@media screen and (min-width:1801px) {
  .conteiner{font-size: 100px;}
  .ota{
    width: 20%;
  }
 .cor{
  width: 5%;
  height: 70px;
position: fixed;
right: 0;
 }
}
.lua {
  margin-right: 30px;
  margin-top: 3px;
  margin-left: 10px;
}

.sol {
  margin-left: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 70px;
}
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #22272E;
  -webkit-transition: 1s;
  transition: 1s;
}
  .slider::before {
    position: absolute;
    content: "";
    height: 70px;
    width: 70px;
    left: 4px;
    bottom: 4px;
    background-color: #EEE501;
    -webkit-transition: 1s;
    transition: 1s;
  }

input:checked + .slider {
  background-color: #3a3a3a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(120px);
  -ms-transform: translateX(120px);
  transform: translateX(120px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}